Merhaba,

Bu e-posta'yı, {{ site_name }}'deki kullanıcı hesabınız için şifre sıfırlama 
talebinde bulunduğunuz için alıyorsunuz.

Aşağıdaki bağlantıya tıklayarak {{ user }} adlı kullanıcı hesabınız için yeni
şifre belirleyebilirsiniz.

{% block reset_link %}
    {{ protocol }}://{{ domain }}{% url users:password_reset_confirm uidb36=uid token=token %}
{% endblock %}

Eğer bu isteğin tarafınızdan yapılmadığını düşünüyorsanız, gelen e-posta'yı
önemsemeyebilir, tekrarı halinde bilgi@{{ domain }} adresine e-posta atabilirsiniz.

Ziyaretiniz ve ilginiz için teşekkürler!

{{ site_name }} ekibi
