{% extends "admin/change_form.html" %}

{% block extrahead %}
	<script type="text/javascript" src="/media/js/fckeditor/fckeditor.js"></script>
	<script type="text/javascript">
		window.onload = function() {
			// for content of frontpage
			var oFCKeditor = new FCKeditor('id_content')
			oFCKeditor.BasePath = "/media/js/fckeditor/"
			oFCKeditor.Width = "750px"
			oFCKeditor.Height = "300px"
			oFCKeditor.ReplaceTextarea()
			// for footer
			var oFCKeditor = new FCKeditor('id_footer')
			oFCKeditor.BasePath = "/media/js/fckeditor/"
			oFCKeditor.Width = "750px"
			oFCKeditor.Height = "300px"
			oFCKeditor.ReplaceTextarea()
		}
	</script>
{% endblock %}