<a name="comments"></a>

{% for comment in entry.published_comments %}
<div class="entry_comments_container">
	<div class="comment_ok"></div>
	<table class="entry_comment" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td class="entry_comment_info_box">
				<div class="entry_comment_avatar">
					<img src="{{ comment.author.get_profile.avatar }}" title="avatar of {{ comment.author }}">
				</div>
				<div class="entry_comment_info">
					{{ comment.author }}
					<div class="entry_comment_datetime">{{ comment.datetime|date:"d.m.Y, H:i" }}</div>
				</div>
			</td>
			<td class="entry_comment_content_box">
				<p align="justify">
					{{ comment.content }}
				</p>
			</td>
		</tr>
	</table>
</div>
{% endfor %}

{% if entry.comments_enabled %}
<input id="disableForm" type="hidden" value="0" />

{% if request.user.is_authenticated %}
<div id="entry_comment_write">
	<div id="entry_comment_write_left">
		<textarea id="entry_comment_textarea" name="comment_body"></textarea>
		<br>
		<input id="entry_comment_notification" name="notification" type="checkbox" value="1">
			Bu yazıdaki değişikliklerden beni haberdar et
		</input>
	</div>
	<div id="entry_comment_write_right">
		<div id="entry_comment_write_captcha">
			<div id="captcha_box">
				<img id="captcha_image" src="{{ captcha }}" title="captcha">
				<br>
				<a href="#" title="yeni bir captcha için tıklayın.." class="gray_link" onclick="getNewCaptcha(); return false;">[yenile]</a>
				<input id="entry_comment_write_captcha_textbox" name="comment_captcha" type="text" size="6" maxlength="6" />
			</div>
		</div>
		<div id="sending_comment" style="display: none;">
			<img src="/media/images/loader.gif" align="absmiddle"> Yollanıyor...
		</div>
		<div id="entry_comment_buttons">
			<button id="entry_comment_submit">yolla</button>
			<button id="entry_comment_clear">temizle</button>
		</div>
		<div id="comment_error" style="display: none;"></div>
	</div>
</div>
{% else %}
<div id="entry_comment_write">
	<div id="entry_comment_login">
		Yorum yapabilmek için <a href="{% url registration %}?next={{ request.path }}" class="ulink" 
			title="kayıt olmak için tıklayın..">kayıt</a> olmalısınız. Eğer zaten kayıtlı
		iseniz <a href="{% url login_page %}?next={{ request.path }}" class="ulink"
			title="raptiye'ye kayıt olmak için tıklayın..">buraya</a> 
		tıklayarak giriş yapabilirsiniz.
	</div>
</div>
{% endif %}

<script language="javascript">
	$("#entry_comment_submit").click(function() {
		// controlling the form fields
		var entry_id = {{ entry.id }};
		var url = "{% url comment_sent %}";
		var captcha_id = $("#captcha_image").attr('src').split('/')[3].split('.')[0];
		var query = $("#entry_comment_write :input").serialize() + "&captcha_id=" + captcha_id + "&entry_id=" + entry_id;
		toggleForm("#entry_comment_write");
		$("#sending_comment").slideToggle();
		$.post(url, query, function(resp) {
			$("#sending_comment").slideToggle();
			toggleForm("#entry_comment_write");
			// clearing comment form
			clearCommentForm();
			// showing status
			showStatusMessage(resp);
		}, "json");
	});
	$("#entry_comment_clear").click(function() {
		clearCommentForm();
		$("#comment_error").slideUp("slow");
	});
	function showStatusMessage(resp) {
		// reset status
		$("#comment_error").slideUp("slow", function() {
			$("#comment_error").text("");
			if (resp.status == "1") {
				$("#comment_error").text(resp.error);
				$("#comment_error").css('background-color', 'red');
				$("#comment_error").slideDown('slow');
			} else if (resp.status == "0") {
				$("#comment_error").text(resp.success);
				$("#comment_error").css('background-color', 'green');
				$("#comment_error").slideDown('slow');
			}
		});
	}
	function clearCommentForm() {
		$("#entry_comment_textarea").val("");
		$("#entry_comment_write_captcha_textbox").val("");
		$("#entry_comment_notification").removeAttr("checked");
	}
</script>
{% endif %}
