{% load blog_filters %}

<div id="contact_box">
	&raquo; tunix [et] raptiye.org<br>
	&raquo; GPG Genel Anahtarım<br>
	&raquo; <strong>Jabber:</strong> tunix@jabber.org<br>
	<br>
	<center>
		buraya flickr vb. bir galeri koyacağım
	</center>
	<br>
	&raquo; <strong>İsim:</strong> Alper KANAT<br>
	&raquo; <strong>Yaş:</strong> {% calculate_age %}<br>
	&raquo; <strong>Yaşadığı Yer:</strong> İstanbul<br>
	&raquo; <strong>İş:</strong> Yazılım Geliştirici<br>
	&raquo; <strong>Şirket:</strong> Parkyeri<br>
</div>
