{% extends "frontpage/base.html" %}

{% load blog_filters %}

{% block title %}günlük@{{ mainpage.title }} | {{ mainpage.subtitle }}{% endblock %}

{% block body %}
	{% include "blog/sidebar.html" %}
	<div id="blog_container">
		{% ifnotequal sticky "" %}
		<div class="blog_sticky_post">
			{{ sticky|safe }}
		</div>
		{% endifnotequal %}
		{% for entry in entry_list %}
		<div class="entry">
			<div class="entry_header">
				<div class="entry_date">
					<div class="entry_date_day">{{ entry.datetime|date:"d" }}</div>
					<div class="entry_date_month">{{ entry.datetime|date:"M" }}</div>
					<div class="entry_date_year">{{ entry.datetime|date:"Y" }}</div>
					<div class="entry_date_time">Saat: {{ entry.datetime|date:"H:i" }}</div>
				</div>
				<div class="entry_header_body">
					<div class="entry_title">
						<a href="{% url blog_entry entry.datetime.year,entry.datetime.month,entry.datetime.day,entry.slug %}" title="yazının devamını okumak için tıklayın.." class="link">
							{{ entry.title }}
						</a>
					</div>
					<div class="entry_tags">
						<strong>etiketler:</strong>
						{% for tag in entry.tags.all %}
						<a href="{% url entries_with_tag tag %}" title="{{ tag }} ile etiketlenmiş yazıları okumak için tıklayın.." class="gray_link">{{ tag }}</a>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="entry_body">
				<p align="justify">
					{{ entry.content|cut_text_by:1000 }}
					{% if entry.content|is_text_larger_than:1000 %}
						<br><br>
						<a href="{% url blog_entry entry.datetime.year,entry.datetime.month,entry.datetime.day,entry.slug %}" title="yazının devamını okumak için tıklayın.." class="link">
							Yazının devamını okumak için tıklayın..
						</a>
						<br>
					{% endif %}	
				</p>
			</div>
			<div class="entry_footer">
				<div class="entry_footer_left"></div>
				<div class="entry_footer_middle">
					<div class="entry_footer_text">
						{% ifequal entry.published_comments.count 0 %}
							<a href="{% url blog_entry entry.datetime.year,entry.datetime.month,entry.datetime.day,entry.slug %}#comments" title="ilk yorumu yapmak için tıklayın.." class="white_link">
								Yorum Yok
							</a>
						{% else %}
							<a href="{% url blog_entry entry.datetime.year,entry.datetime.month,entry.datetime.day,entry.slug %}#comments" title="yorum yapmak için tıklayın.." class="white_link">
								{{ entry.published_comments.count }} Yorum
							</a>
						{% endifequal %}
					</div>
					<div class="entry_footer_buttons">
						{% include "blog/widgets.html" %}
					</div>
				</div>
				<div class="entry_footer_right"></div>
			</div>
		</div>
		{% endfor %}
		{% if is_paginated %}{% paginator 4 %}{% endif %}
	</div>
{% endblock %}
