{% load blog_filters %}

<div id="sidebar_container">
	<div class="widget">
		<div id="search">
			<form id="search_form" name="search_form" method="get" action="{% url blog_search %}">
				<input id="search_box" name="keywords" type="text" />
			</form>
		</div>
	</div>
	<div class="widget">
		<div class="widget_box">
			<div class="widget_title">
				<img src="/media/images/calendar.png" align="absmiddle">
				{% get_month_and_year "en" %}
			</div>
			<div class="widget_body">
				{% construct_calendar "en" %}
			</div>
		</div>
	</div>
	<div class="widget">
		<div class="widget_box">
			<div class="widget_title">
				<img src="/media/images/rss_feed.png" align="absmiddle">
				via rss
			</div>
			<div class="widget_body">
				<span class="widget_small">click the below link<br>to read {{ mainpage.title }} via rss</span>
				<br><br>
				{% include "blog/feedburner.html" %}
			</div>
		</div>
	</div>
	<div class="widget">
		<div class="widget_box">
			<div class="widget_title">
				<img src="/media/images/cloud.png" align="absmiddle">
				tag cloud
			</div>
			<div class="widget_body">
				{% include "blog/tags_en.html" %}
			</div>
		</div>
	</div>
	<div class="widget">
		<div class="widget_box">
			<div class="widget_title">
				<img src="/media/images/support.png" align="absmiddle">
				supported!
			</div>
			<div class="widget_body">
				{% include "blog/supported_en.html" %}
			</div>
		</div>
	</div>
	<div class="widget">
		<div class="widget_box">
			<div class="widget_title">
				<img src="/media/images/friends.png" align="absmiddle">
				friends
			</div>
			<div class="widget_body">
				links of the friends come here..
			</div>
		</div>
	</div>
	<div class="widget">
		<div class="widget_box">
			<div class="widget_title">
				<img src="/media/images/links.png" align="absmiddle">
				links
			</div>
			<div class="widget_body">
				here are some other links..
			</div>
		</div>
	</div>
	<div class="widget">
		<div class="widget_box">
			<div class="widget_title">
				<img src="/media/images/contact.png" align="absmiddle">
				contact
			</div>
			<div class="widget_body">
				{% include "blog/contact_en.html" %}
			</div>
		</div>
	</div>
	<div class="widget">
		<div class="widget_box">
			<div class="widget_title">
				<img src="/media/images/giris.png" align="absmiddle">
				user panel
			</div>
			<div class="widget_body">
				<div id="user_box">
					{% if request.user.is_authenticated %}
						{% if request.user.is_superuser %}
							&raquo; <a href="{% url admin_page %}" title="click here to go to the administration panel.." class="link">administration panel</a>
							<br>
						{% endif %}
						&raquo; <a href="{% url profile_page request.user.username %}" title="click here to see and change your profile settings.." class="link">my profile</a>
						<br>
						&raquo; <a href="{% url logout_page %}?next={{ request.path }}" title="click here to logout your account.." class="link">logout</a>
					{% else %}
						&raquo; <a href="{% url registration %}" title="click here to register for an account over {{ mainpage.title }}.." class="link">registration</a>
						<br>
						&raquo; <a href="{% url login_page %}?next={{ request.path }}" title="click here to login your {{ mainpage.title }} account.." class="link">login</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

<div style="display: none;">
	<img src="/media/images/search-active.png" />
</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		// fill search box
		$("#search_box").val("search box");
		$("#search_box").focus(function() {
			// clear the search box
			$("#search_box").val("");
			// set the font color to black
			$("#search_box").css("color", "black");
			// change the background
			$("#search").css("background", "transparent url(/media/images/search-active.png) top left no-repeat");
		});
		// blur = unfocus
		$("#search_box").blur(function() {
			// reinitialize the search box
			$("#search_box").val("arama kutusu");
			// set to font color to gray
			$("#search_box").css("color", "#b5b5b5");
			// change the background
			$("#search").css("background", "transparent url(/media/images/search.png) top left no-repeat");
		});
		$("#search_box").keydown(function(e) {
			if (e.keyCode == 13)
				$("#search_form").submit();
		});
	});
</script>