{% load blog_filters %}

<div id="sidebar_container">
	<div class="widget">
		<div id="search">
			<form id="search_form" name="search_form" method="get" action="/blog/search">
				<input id="search_box" name="keywords" type="text" />
			</form>
		</div>
	</div>
	<div class="widget">
		<div class="widget_box">
			<div class="widget_title">
				<img src="/media/images/calendar.png" align="absmiddle">
				{% get_month_and_year %}
			</div>
			<div class="widget_body">
				{% construct_calendar %}
			</div>
		</div>
	</div>
	<div class="widget">
		<div class="widget_box">
			<div class="widget_title">
				<img src="/media/images/rss_feed.png" align="absmiddle">
				rss takibi
			</div>
			<div class="widget_body">
				<span class="widget_small">raptiye'yi rss beslemesi üzerinden<br>takip etmek için aşağıdaki bağlantıya<br>tıklayabilirsiniz.</span>
				<br><br>
				{% include "blog/feedburner.html" %}
			</div>
		</div>
	</div>
	<div class="widget">
		<div class="widget_box">
			<div class="widget_title">
				<img src="/media/images/cloud.png" align="absmiddle">
				etiket bulutu
			</div>
			<div class="widget_body">
				{% include "blog/tags.html" %}
			</div>
		</div>
	</div>
	<div class="widget">
		<div class="widget_box">
			<div class="widget_title">
				<img src="/media/images/support.png" align="absmiddle">
				destekliyorum!
			</div>
			<div class="widget_body">
				{% include "blog/supported.html" %}
			</div>
		</div>
	</div>
	<div class="widget">
		<div class="widget_box">
			<div class="widget_title">
				<img src="/media/images/friends.png" align="absmiddle">
				arkadaşlar
			</div>
			<div class="widget_body">
				buraya da arkadaşlar gelsin bari..
			</div>
		</div>
	</div>
	<div class="widget">
		<div class="widget_box">
			<div class="widget_title">
				<img src="/media/images/links.png" align="absmiddle">
				girilesiceler
			</div>
			<div class="widget_body">
				bunlar da girilesi siteler olsa gerek..
			</div>
		</div>
	</div>
	<div class="widget">
		<div class="widget_box">
			<div class="widget_title">
				<img src="/media/images/contact.png" align="absmiddle">
				iletişim
			</div>
			<div class="widget_body">
				{% include "blog/contact.html" %}
			</div>
		</div>
	</div>
	<div class="widget">
		<div class="widget_box">
			<div class="widget_title">
				<img src="/media/images/giris.png" align="absmiddle">
				üyelik girişi
			</div>
			<div class="widget_body">
				<div id="user_box">
					{% if request.user.is_authenticated %}
						{% if request.user.is_superuser %}
							&raquo; <a href="/admin/" title="yönetim paneline gitmek için tıklayın.." class="link">yönetim paneli</a>
							<br>
						{% endif %}
						&raquo; <a href="/users/{{ request.user.username }}/profile/" title="profilinizi görmek ve değiştirmek için tıklayın.." class="link">profilim</a>
						<br>
						&raquo; <a href="/users/logout/?next={{ request.path }}" title="çıkış yapmak için tıklayın.." class="link">çıkış</a>
					{% else %}
						&raquo; <a href="/users/register/" title="raptiye'ye kaydolmak için tıklayın.." class="link">kaydol</a>
						<br>
						&raquo; <a href="/users/login/?next={{ request.path }}" title="raptiye hesabınızla giriş yapmak için tıklayın.." class="link">giriş</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

<div style="display: none;">
	<img src="/media/images/search-active.png" />
</div>
