<div id="support_box">
	<div id="support_badges">
		<a href="http://www.archlinux.org" title="Arch Linux hakkında bilgi almak için tıklayın..!" target="_blank"><img 
			src="/media/images/badges/archlinux.png" border=0></a>

		<a href="http://www.linux.org.tr" target="_blank" title="Linux Türkiye Sayfaları"><img 
			src="/media/images/badges/linux.gif" border="0"></a>

		<br>

		<a href="http://httpd.apache.org/" title="apache'yle ilgili bilgi almak için tıklayın.." target="_blank"><img 
			src="/media/images/badges/apache.gif" border="0"></a>
		<a href="http://www.mysql.com/" title="mysql hakkında bilgi almak için tıklayın.." target="_blank"><img 
			src="/media/images/badges/mysql.gif" border="0"></a>

		<br>

		<a href="http://www.spreadfirefox.com/node&id=0&t=317"><img border="0" alt="Firefox 3" title="Firefox 3" 
			src="/media/images/badges/ff3.gif"/></a>

		<a href="http://pidgin.im" title="Pidgin'in sitesini ziyaret etmek için tıklayın..!" target="_blank"><img 
			src="/media/images/badges/pidgin.png" border=0></a>
	</div>

	<br>

	<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" 
		title="Lisans hakkında daha fazla bilgi almak için tıklayın..!" target="_blank"><img 
		alt="Creative Commons License" style="border-width:0" 
		src="/media/images/badges/cc.png" /></a>

	<br>

	Bu site <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" 
		title="Lisans hakkında daha fazla bilgi almak için tıklayın..!" target="_blank" class="ulink">
		Creative Commons lisansı</a> ile korunmaktadır. (This site is protected by 
		<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" 
		title="Lisans hakkında daha fazla bilgi almak için tıklayın..!" target="_blank" class="ulink">
		Creative Commons license</a>.)
</div>
