<div id="support_box">
	<div id="support_badges">
		<a href="http://www.archlinux.org" title="Click here to learn more about Arch Linux..!" target="_blank"><img 
			src="/media/images/badges/archlinux.png" border=0></a>

		<a href="http://www.linux.org.tr" target="_blank" title="Web site of Turkish Linux Users Foundation"><img 
			src="/media/images/badges/linux.gif" border="0"></a>

		<br>

		<a href="http://httpd.apache.org/" title="Click here to learn more about Apache.." target="_blank"><img 
			src="/media/images/badges/apache.gif" border="0"></a>
		<a href="http://www.mysql.com/" title="Click here to learn more about MySQL.." target="_blank"><img 
			src="/media/images/badges/mysql.gif" border="0"></a>

		<br>

		<a href="http://www.spreadfirefox.com/node&id=0&t=317"><img border="0" alt="Firefox 3" title="Firefox 3" 
			src="/media/images/badges/ff3.gif"/></a>

		<a href="http://pidgin.im" title="Click here to learn more about Pigdin..!" target="_blank"><img 
			src="/media/images/badges/pidgin.png" border=0></a>
	</div>

	<br>

	<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" 
		title="Click here to read more about the license..!" target="_blank"><img 
		alt="Creative Commons License" style="border-width:0" 
		src="/media/images/badges/cc.png" /></a>

	<br>

	The whole content on {{ mainpage.title }} is licensed under the terms of <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" 
		title="Click here to read more about the license..!" target="_blank" class="ulink">
		Creative Commons</a> license.
</div>
