{% load frontpage_filters %}

{% get_mainpage %}

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="icon" href="/media/images/favicon.png" type="image/png"/>
		<link rel="stylesheet" href="/media/css/style.css">
		<link href="{{ mainpage.rss_url }}" rel="alternate" type="application/rss+xml" title="raptiye rss feed" />
		<script type="text/javascript" src="/media/js/jquery.js"></script>
		<script type="text/javascript" src="/media/js/raptiye.js"></script>
		<title>{% block title %}{{ mainpage.title }} | {{ mainpage.subtitle }}{% endblock %}</title>
	</head>
	<body>
		<div id="header">
			<div id="karalama">
				<div id="site_title">{{ mainpage.title_html|safe }}</div>
				<div id="site_subtitle">{{ mainpage.subtitle_html|safe }}</div>
			</div>
			{% ifnotequal request.path "/" %}
			<div id="tabbed_menu">
				{% with mainpage.links|order_by:"level" as links %}
				<ul>
					<li><a href="/" title="ana sayfa için tıklayın.." class="link">ana sayfa</a></li>
					{% for link in links %}
						{% if link.target %}
							<li><a href="{{ link.url }}" title="{{ link.title|lower }} için tıklayın.." target="_blank" class="link">{{ link.title|lower }}</a></li>
						{% else %}
							<li><a href="{{ link.url }}" title="{{ link.title|lower }} için tıklayın.." class="link">{{ link.title|lower }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
				{% endwith %}
			</div>
			<div id="header_bottom"></div>
			{% endifnotequal %}
		</div>
		<div id="body">
		{% block body %}{% endblock %}
		</div>
		<div id="footer">
			<div id="logos">
				<a href="http://www.djangoproject.com" title="Django hakkında bilgi almak için tıklayın.." target="_blank"><img src="/media/images/django.gif" border="0"></a><br><a href="http://www.python.org" title="Python hakkında bilgi almak için tıklayın.." target="_blank"><img src="/media/images/python.png" border="0"></a>
			</div>
			<div id="footer_text">
				{{ mainpage.footer|replace_with_version|safe }}
			</div>
		</div>
	</body>
</html>
