{% extends "frontpage/base.html" %}

{% block title %}kayıt başarılı@{{ mainpage.title }} | {{ mainpage.subtitle }}{% endblock %}

{% block body %}
	<div id="centered_body_container">
		{% if error %}
			{{ error }}
		{% else %}
			hede
		{% endif %}
	</div>
{% endblock %}
{% extends "frontpage/base.html" %}

{% block title %}kayıt başarılı@{{ mainpage.title }} | {{ mainpage.subtitle }}{% endblock %}

{% block body %}
	<div id="centered_body_container">
		{% if error %}
			{{ error }}
		{% else %}
			hede
		{% endif %}
	</div>
{% endblock %}
