{% extends "frontpage/base.html" %}

{% block title %}giriş@{{ mainpage.title }} | {{ mainpage.subtitle }}{% endblock %}

{% block body %}
	<div id="centered_body_container">
		<form id="login_form" name="login_form" method="post">
			<table id="login_form_line" style="margin: 0 auto;">
			{% for field in form %}
				<tr>
					<td>{{ field.label_tag }}</td>
					<td width="20px"></td>
					<td>{{ field }}</td>
					{% if form.errors %}
					<td width="10px"></td>
					<td class="field_errors">{{ field.errors }}</td>
					{% endif %}
				</tr>
			{% endfor %}
			</table>

			<div id="login_form_buttons">
				<button id="entry_comment_submit" type="submit">yolla</button>
				&nbsp;&nbsp;
				<button id="entry_comment_clear" type="reset">temizle</button>
			</div>
		</form>
	</div>
{% endblock %}
